﻿<footer id="footer">


    <div class="container">

        <div class="col-md-12 col-sm-12  col-xs-12">
            <div class="row text-center">
                <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12">
                    <div class="FooterTitulo">FREGUÊS</div>
                    <div class="FooterTexto">login</div>
                    <div class="FooterTexto">cadastro</div>
                    <div class="FooterTitulo">CIDADES</div>
                    <div class="FooterTexto">Araçatuba</div>
                    <div class="FooterTexto">Birigui</div>
                    <div class="FooterTexto">Bauru</div>
                    <div class="FooterTexto">São Paulo</div>
                    <div class="FooterTexto">Guarulhos</div>
                    <div class="FooterTexto">Campo Grande</div>
                    <div class="FooterTexto">Brasilha</div>

                </div>
                <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12">
                    <div class="FooterTitulo">COMPANY</div>
                    <div class="FooterTexto">home</div>
                    <div class="FooterTexto">contato</div>
                    <div class="FooterTexto">empregos</div>
                    <div class="FooterTexto">sobre</div>
                    <div class="FooterTexto">brand guidelines</div>
                    <div class="FooterTitulo FooterDiv">LEGAL</div>
                    <div class="FooterTexto">termos de usuário</div>
                    <div class="FooterTexto">politica de privaciade</div>
                    <div class="FooterTexto">copyrights</div>

                </div>
                <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12">
                    <div class="FooterTitulo">APPS</div>
                    <div class="FooterTexto">IOS</div>
                    <div class="FooterTexto">Android</div>
                    <div class="FooterTexto">WindosPhone</div>
                    <div class="FooterTitulo FooterDiv">SOCIAL</div>
                    <div class="FooterTexto">facebook</div>
                    <div class="FooterTexto">twitter</div>
                    <div class="FooterTexto">blog</div>
                    <div class="FooterTexto">instagram</div>
                </div>
                <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12">
                    <div class="FooterTitulo">ESTABELECIMENTOS</div>
                    <div class="FooterTexto">cadastro</div>
                    <div class="FooterTexto">login</div>
                    <div class="FooterTexto">planos</div>
                    <div class="FooterTexto">dúvidas</div>
                    <div class="FooterTexto">suporte</div>
                    <div class="FooterTexto">beneficios</div>
                    <div class="FooterTitulo FooterDiv">FRANQUIAS</div>
                    <div class="FooterTexto">dúvidas</div>
                    <div class="FooterTexto">cadastrar</div>
                    <div class="FooterTexto">suporte</div>
                </div>

            </div>
        </div>


    </div>

</footer>