﻿@{
    Layout = null;
}

<html>
<head>
    <title>Foursnac</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/css/main.css" />
    <link rel="stylesheet" href="~/Content/css/Site.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
    <link href="~/Content/fonts/font-foursnac/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="~/Scripts/FuncoesPersonalizadas.js"></script>
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<body class="landing">


    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <div id="icoVoltar" onclick="Voltar();" class="fa fa-chevron-circle-left Voltar NoDisplay"></div>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"></a>
                        <div id="menu">
                            <ul>
                                <li><a href="/home/index">Home</a></li>
                                <li><a href="#" id="aLogin">Login</a></li>
                                <li><a href="">Cadastre-se</a></li>
                                <li><a href="/estabelecimento/index">Estabelecimento</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>


        <!-- Banner -->
        <!--style="background-image:url(/Content/img/wallpapper/@ViewBag.Imagem);"-->

        <section id="Titulo" class="Titulo">
            <a  href="/home/index"><div class="LogoCentral"></div></a>
            <!--Busca Cep-->
            <div id="CaixaCep" class="CaixaCep">
                <form name="form" id="form">

                    <div id="divCep" class="divCep">
                        <input id="Cep" type="text" onkeypress="return somenteNumeros(event);" onblur="this.placeholder ='digite seu cep'" onfocus="this.placeholder =''" name="cep" value="" class="Cep" placeholder="digite seu cep" autocomplete="off" />
                    </div>
                    <button type="button" name="btCep" value="tipo" id="btCep" class="btcep" >pedir comida</button>



                </form>
            </div>

            <!-- Resultado Endereço -->
            <div id="Logo2" class="LogoCentral1 NoDisplay"></div>

            <div id="CaixaResultado" class="CaixaResultado NoDisplay">


                <div class="divUf">
                    <input id="uf" type="text" class="inputUf" value="" />
                </div>

                <div class="divCidade">
                    <input id="cidade" type="text" class="inputCidade" value="" />
                </div>

                <div class="divRua">
                    <input id="rua" type="text" class="inputRua" value="" />
                </div>

                <div class="divNum">
                    <input id="num" type="text" class="inputNum" value="" onblur="this.placeholder ='Nº'" onfocus="this.placeholder =''" placeholder="Nº" />
                </div>
                <div class="divComplemento">
                    <input id="complemento" type="text" class="inputComplemento" value="" onblur="this.placeholder ='complemento'" onfocus="this.placeholder =''" placeholder="complemento" />
                </div>

                <button class="btVoltar" onclik="Voltar()">voltar</button>
                <button class="btContinuar" id="goTipo" onclick="GoToTipo();">pedir comida</button>


            </div>

            <!--Seleciona o tipo Delivery/Pickup-->

            <div id="CaixaTipo" class="CaixaTipo NoDisplay">
                <div class="divDeliveryCor tipo" id="delivery" style="cursor:pointer">
            
                        <div class="img-Delivery"></div>
                        <div class="TextoDelyvery">quero <span style="font-weight:bold">delivery</span> </div>
                    
                </div>

                <div class="divPickupCor tipo" id="pickup" style="cursor:pointer">
                    
                        <div class="img-Pickup"></div>
                        <div class="TextoPickup">quero <span style="font-weight:bold">buscar no local</span> </div>
                  
                </div>
            </div>


            <div id="NaoSei"><a href="http://www.google.com" class="NaoSeiCep NoDisplay">Não sei meu cep </a></div>



        </section>

        <!--Passo a passo -->
        <section id="Passo" class="Passo">

            <div class="container">

                <div class="col-md-12 col-sm-12  col-xs-12">
                    <div class="row text-center">
                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo1">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x corPassoCir" id="Passo1"></i>
                                <i class="icon-location74" style="position:absolute; margin:35px 15PX 0 -20PX; color:#FFF; font-size:40px;"></i>
                            </span>
                            <div><b>1.</b><span class="TextoPasso">Localize</span></div>
                            <div class="TextoPasso">facilmente</div>
                        </div>

                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo2">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x corPassoCir" id="Passo2" mou></i>
                                <i class="icon-iconesestabelecimentos" style="position:absolute; margin:30px 15PX 0 -25PX; color:#FFF; font-size:50px; font-weight:500">  </i>

                            </span>
                            <div><b>2.</b><span class="TextoPasso">Selecione um</span></div>
                            <div class="TextoPasso">estabelecimento</div>
                        </div>

                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo3">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x corPassoCir" id="Passo3"></i>
                                <i class="icon-pizza2" style="position:absolute; margin:35px 15PX 0 -16PX; color:#FFF; font-size:40px;">  </i>
                            </span>
                            <div><b>3.</b><span class="TextoPasso">Escolha sua</span></div>
                            <div class="TextoPasso">comida</div>
                        </div>


                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo4">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x corPassoCir" id="Passo4"></i>
                                <i class="icon-money-card4" style="position:absolute; margin:35px 15PX 0 -20PX; color:#FFF; font-size:40px;">  </i>
                            </span>
                            <div><b>4.</b><span class="TextoPasso">Defina como</span></div>
                            <div class="TextoPasso">pagar</div>
                        </div>

                    </div>
                </div>


            </div>

        </section>

        <!-- Footer -->
        @Html.Partial("_Footer")

    </div>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="~/Scripts/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>


</body>
</html>

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script>

    $(document).ready(function () {
        $('.tipo').click(function (event) {
            event.preventDefault();
            var cep = $('#Cep').val();
            var tipo = $(this).attr('id');
            var numero = $("#num").val();
            var complemento = $("#complemento").val();

            var destino = '';
            var url = document.URL;

            if (url.lastIndexOf('localhost') > -1) {
                destino = 'http://localhost:8080';
            } else {
                destino = 'http://app.foursnac.com';
            }

            document.location.href = destino + '/foursnac/pedidos/main.html#PedidosMain#' + cep + "#" + numero + "#" + complemento + "#" + tipo;
        });

        $('#aLogin').click(function (ev) {
            event.preventDefault();

        });

    });

    $('#Passo1').mouseenter(function () {

        $('#Passo1').addClass('corPassoHover');

    });

    $('#Passo1').mouseleave(function () {

        $('#Passo1').removeClass('corPassoHover');

    });

    $('#Passo2').mouseenter(function () {

        $('#Passo2').addClass('corPassoHover');

    });

    $('#Passo2').mouseleave(function () {

        $('#Passo2').removeClass('corPassoHover');

    });

    $('#Passo3').mouseenter(function () {

        $('#Passo3').addClass('corPassoHover');

    });

    $('#Passo3').mouseleave(function () {

        $('#Passo3').removeClass('corPassoHover');

    });

    $('#Passo4').mouseenter(function () {

        $('#Passo4').addClass('corPassoHover');

    });

    $('#Passo4').mouseleave(function () {

        $('#Passo4').removeClass('corPassoHover');

    });

    $(window).width(function () {

        var x = screen.width;

        if (x < 700) {

            $('#divCirculo1').removeClass('col-md-3');
            $('#divCirculo1').removeClass('col-sm-3');
            $('#divCirculo1').removeClass('col-sm-12');
            $('#divCirculo1').removeClass('col-xs-12');

            $('#divCirculo1').addClass('col-md-offset-3');
            $('#divCirculo1').addClass('col-md-3');
            $('#divCirculo1').addClass('col-sm-3');
            $('#divCirculo1').addClass('col-sm-6');
            $('#divCirculo1').addClass('col-xs-6');


            $('#divCirculo2').removeClass('col-md-3');
            $('#divCirculo2').removeClass('col-sm-3');
            $('#divCirculo2').removeClass('col-sm-12');
            $('#divCirculo2').removeClass('col-xs-12');

            $('#divCirculo2').addClass('col-md-3');
            $('#divCirculo2').addClass('col-sm-3');
            $('#divCirculo2').addClass('col-sm-6');
            $('#divCirculo2').addClass('col-xs-6');

            $('#divCirculo3').removeClass('col-md-3');
            $('#divCirculo3').removeClass('col-sm-3');
            $('#divCirculo3').removeClass('col-sm-12');
            $('#divCirculo3').removeClass('col-xs-12');

            $('#divCirculo3').addClass('col-md-offset-3');
            $('#divCirculo3').addClass('col-md-3');
            $('#divCirculo3').addClass('col-sm-3');
            $('#divCirculo3').addClass('col-sm-6');
            $('#divCirculo3').addClass('col-xs-6');


            $('#divCirculo4').removeClass('col-md-3');
            $('#divCirculo4').removeClass('col-sm-3');
            $('#divCirculo4').removeClass('col-sm-12');
            $('#divCirculo4').removeClass('col-xs-12');

            $('#divCirculo4').addClass('col-md-3');
            $('#divCirculo4').addClass('col-sm-3');
            $('#divCirculo4').addClass('col-sm-6');
            $('#divCirculo4').addClass('col-xs-6');
        }


    });

    $('#btCep').click(function () {
        BuscarEndereco();
    });

    function somenteNumeros(event) {

        var charCode = (event.which) ? event.which : event.keyCode;
        var cep = $('#Cep').val();

        if (cep.length == 5) {
            cep += '-';
        }

        $('#Cep').val(cep);

        if (cep.length >= 9) {

            if (charCode == 13) {
                BuscarEndereco();
            }

            return false;
        }

        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }

        return true;
    }

    function Voltar() {

        $('#footer').removeClass('NoDisplay');
        $('#Passo').removeClass('NoDisplay');
        $('#CaixaCep').removeClass('NoDisplay');
        $('#NaoSei').removeClass('NoDisplay');
        $('.LogoCentral').removeClass('NoDisplay');

        $('#CaixaResultado').addClass('NoDisplay'); 
        $('#CaixaTipo').addClass('NoDisplay');
        $('#icoVoltar').addClass('NoDisplay');
        $('#Cep').focus();
      
    }

    function Ir(tipo) {
        if (tipo == 'tipo') {
            $('#CaixaTipo').removeClass('NoDisplay');
            $('#CaixaResultado').addClass('NoDisplay');
            $('.LogoCentral').addClass('NoDisplay');
            $('.LogoCentral1').addClass('NoDisplay');
        } else {
            $('#CaixaCep').addClass('NoDisplay');
            $('#CaixaResultado').removeClass('NoDisplay');
            $('#NaoSei').addClass('NoDisplay');
            $('#Logo1').addClass('NoDisplay');
            $('.LogoCentral').addClass('NoDisplay');
            $('.LogoCentral1').removeClass('NoDisplay');
            $('#icoVoltar').removeClass('NoDisplay');
            $('#num').focus();
            $('#footer').addClass('NoDisplay');
            $('#Passo').addClass('NoDisplay');
        }
    }

    function GoToTipo() {
        Ir('tipo');
    }

    function BuscarEndereco() {

        var cep = $('#Cep').val().replace("-", "");;

        $.ajax({
            url: 'http://api.postmon.com.br/v1/cep/' + cep,
            method: 'GET',
            success: function (data) {
                console.log(data);
                $('#uf').val(data.estado);
                $('#cidade').val(data.cidade);
                $('#rua').val(data.logradouro);
                Ir('pesquisa');
            },
            failure: function () { alert('Falha de comunição ou cep inválido'); }
        });

    }

    function Erro() {


    }



</script>
