﻿.Barra {
    background-color: #FF2930 !important;
    -webkit-box-shadow: 2px 18px 46px -4px rgba(227,227,227,0.28);
    -moz-box-shadow: 2px 18px 46px -4px rgba(227,227,227,0.28);
    box-shadow: 2px 18px 46px -4px rgba(227,227,227,0.28);
}

.check {
    font-size: 18px;
    color: #2A87E5;
    float: right !important;
    width: 18px;
    height: 18px;
    margin-top: 3%;
    margin-right: 3%;
}

.NoDisplay {
    display: none !important;
}

.LogoCentral {
    height: 161px;
    max-width: 123px;
    background-image: url(/Content/img/logocentral.png) !important;
    background-size: 123px 161px;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: 2% auto 0 auto;
    background-color: transparent;
    z-index: 99999;
}

    .LogoCentral1 {
    height: 161px;
    max-width: 123px;
    background-image: url(/Content/img/logocentral.png) !important;
    background-size: 123px 161px;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    margin: 2% auto 0 auto;
    background-color: transparent;
    z-index: 99999;
    }
.LogoCentralBarra {
    height: 40px;
    max-width: 28px;
    background-image: url(/Content/img/logocentral.png) !important;
    background-size: 28px 40px;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 99999;
}

.Titulo {
    padding: 45px 0 0 0;
    width: 100%;
    height: 100% !important;
    background-color: #FF2930;
    z-index: 99;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.Titulo1 {
    padding: 7% 0 0 0;
    width: 100%;
    height: 100% !important;
    background-color: #FFF !important;
    z-index: 99;
    text-align: center !important;
}

.Frase1 {
    color: #1c85ea;
    font-family: 'Segoe UI';
    width: 100%;
    height: auto;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-weight: 400;
    margin-bottom: 30px;
}

.btPlay {
    width: 10%;
    height: 14%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: -32%;
    font-size: 8em !important;
    position: relative;
    color: #fff;
    cursor: pointer;
    z-index: 999999;
}

    .btPlay:hover {
        color: #FCEE21;
    }

.btPlayTrnasparent {
    display: none !important;
}

.Passo {
    padding: 3% 0 3% 0;
    width: 100%;
    height: auto;
    background-color: #E9E9F3;
    z-index: 99;
    background-repeat: no-repeat;
}

.CaixaResultado {
    max-width: 540px;
    width: 100%;
    height: 300px;
    left: 0;
    right: 0;
    margin: 2% auto 0 auto;
    background-color: rgba(255,255,255,0.7);
    padding-top: 2%;
    text-align: center;
}


.divUf {
    max-width: 100px;
    width: 100%;
    height: auto;
    border-radius: 8px !important;
    margin: 0 0 0 25px;
    float: left;
    height: 55px;
    background-color: #b3b3b3;
    padding-top: 7px;
}

.inputUf {
    max-width: 50px;
    height: 55px;
    margin: 0 auto 0 auto !important;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Segoe UI' !important;
    background-color: transparent !important;
    color: #FFF !important;
    letter-spacing: 0px;
}

.divCidade {
    max-width: 380px;
    width: 100%;
    height: auto;
    border-radius: 8px !important;
    margin: 0 25px 0 0px;
    float: right;
    height: 55px;
    background-color: #b3b3b3;
    padding-top: 7px;
}

.inputCidade {
    max-width: 340px;
    height: 55px;
    margin: 0 auto 0 auto !important;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Segoe UI' !important;
    background-color: transparent !important;
    color: #FFF !important;
    letter-spacing: 0px;
}

.divRua {
    max-width: 490px;
    width: 100%;
    height: auto;
    border-radius: 8px !important;
    margin: 10px 0 0 25px;
    float: left;
    height: 55px;
    background-color: #b3b3b3;
    padding-top: 7px;
}

.inputRua {
    max-width: 470px;
    height: 55px;
    margin: 0 auto 0 auto !important;
    left: 0;
    font-size: 16px;
    right: 0;
    font-family: 'Segoe UI' !important;
    background-color: transparent !important;
    color: #FFF !important;
    text-align: center !important;
    letter-spacing: 0px;
}

.divNum {
    max-width: 100px;
    width: 100%;
    height: auto;
    border-radius: 8px !important;
    margin: 10px 00px 0 25px;
    float: left;
    height: 55px;
    background-color: #FFF;
    padding-top: 7px;
}

.inputNum {
    max-width: 80px;
    height: 55px;
    margin: 0 auto 0 auto !important;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Segoe UI' !important;
}

.divComplemento {
    max-width: 380px;
    width: 100%;
    height: auto;
    border-radius: 8px !important;
    margin: 10px 25px 0 0px;
    float: right;
    height: 55px;
    background-color: #FFF;
    padding-top: 7px;
}

.inputComplemento {
    max-width: 340px;
    height: 55px;
    margin: 0 auto 0 auto !important;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Segoe UI' !important;
}

.btVoltar {
    max-width: 100px;
    width: 100%;
    height: 55px;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    background-color: rgba(102,102,102,1);
    text-align: center;
    padding: 0 0 0 0;
    border: none !important;
    border-radius: 8px;
    color: #FFF;
    margin: 10px 0px 0px 25px;
    font-size: 16px;
    float: left;
    font-family: 'Segoe UI' !important;
}

    .btVoltar:hover {
        opacity: 0.7;
    }

.btContinuar {
    max-width: 380px;
    width: 100%;
    height: 55px;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    background-color: #2A87E5;
    text-align: center;
    padding: 0 0 0 0;
    border: none !important;
    border-radius: 8px;
    color: #FFF;
    margin: 10px 10px 0px 10px;
    font-size: 16px;
    float: left;
    font-family: 'Segoe UI' !important;
}

    .btContinuar:hover {
        opacity: 0.7;
    }

.CaixaCep {
    max-width: 340px;
    width: 100%;
    height: 175px;
    left: 0;
    right: 0;
    margin: 2% auto 0 auto;
    background-color: rgba(255,255,255,0.7);
    padding-top: 2%;
    text-align: center;
}

.divCep {
    max-width: 280px;
    width: 100%;
    text-decoration: none !important;
    left: 0;
    right: 0;
    height: 55px;
    margin: 0 auto 0 auto;
    background-color: #FFF !important;
    border-radius: 187px 187px;
    padding-top: 7px;
    color: #000 !important;
    transition: 1s;
}

    .divCep:hover {
        border: 1px solid #1c85ea !important;
        box-shadow: 0px 0px 5px #2A87E5;
    }

.divCepShadow {
    box-shadow: 0px 0px 5px #2A87E5;
    border: 1px solid #1c85ea !important;
    transition: 1s;
}

.Cep {
    max-width: 150px;
    width: 100%;
    outline: none !important;
    text-decoration: none !important;
    border: #FFF !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 16px;
    font-family: 'Segoe UI';
    color: #000 !important;
    text-align: center;
    box-shadow: #fff !important;
}

.btcep {
    max-width: 280px;
    width: 100%;
    height: 55px;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    background-color: #2A87E5;
    text-align: center;
    padding: 0 0 0 0;
    border: none !important;
    border-radius: 187px 187px;
    font-family: 'Segoe UI';
    color: #FFF;
    font-weight: lighter;
    margin: 10px 30px;
    font-size: 16px;
}

    .btcep:hover {
        opacity: 0.7;
    }


.NaoSeiCep {
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
    margin-top: 20px;
    left: 46%;
    font-size: 12px;
    color: #FFF;
    cursor: default;
    position: absolute;
    font-family: 'Segoe UI';
    font-weight: 100;
}

    .NaoSeiCep:hover {
        color: #eae243;
        cursor: pointer;
    }


.CaixaEmail {
    max-width: 440px;
    width: 100%;
    height: 195px;
    left: 0;
    right: 0;
    margin: 2% auto 0 auto;
    background-color: rgba(255,255,255,0.7);
    padding-top: 2%;
    text-align: center;
}

.divEmail {
    max-width: 380px;
    width: 100%;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    left: 0;
    right: 0;
    height: 65px;
    margin: 0 auto 0 auto;
    background-color: #FFF !important;
    border-radius: 8px;
    padding-top: 10px;
    color: #000 !important;
}

    .divEmail:hover {
        box-shadow: -1px -2px 7px #2A87E5;
        box-shadow: 1px 2px 7px #2A87E5;
        transition: 1s;
    }

.divEmailShadow {
    box-shadow: -1px -2px 7px #2A87E5;
    box-shadow: 1px 2px 7px #2A87E5;
    transition: 1s;
}

.btEmail {
    max-width: 380px;
    width: 100%;
    height: 65px;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    background-color: #2A87E5;
    text-align: center;
    padding: 0 0 0 0;
    border: none !important;
    border-radius: 8px;
    font-family: 'Segoe UI';
    color: #FFF;
    font-weight: lighter;
    margin: 10px 30px;
    font-size: 16px;
}

.Email {
    max-width: 250px;
    width: 100%;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 16px;
    font-family: 'Segoe UI' !important;
    font-weight: lighter;
    color: #000 !important;
    text-align: center;
    box-shadow: !important;
}

.inputRegistro {
    max-width: 400px;
    width: 100%;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: lighter;
    color: #000 !important;
    text-align: left;
    box-shadow: !important;
    float: left !important;
    font-weight: lighter !important;
}


.divRegistro {
    max-width: 460px;
    width: 100%;
    outline: none !important;
    text-decoration: none !important;
    border: 1px solid rgb(203,203,203) !important;
    left: 0;
    right: 0;
    height: 66px;
    margin: 0 auto 15px auto;
    background-color: #FFF !important;
    border-radius: 8px;
    padding: 10px 0 0 20px;
    color: #000 !important;
    text-align: left !important;
    font-weight: lighter !important;
}

    .divRegistro:hover {
        box-shadow: 0px 0px 5px #2A87E5;
        border: 1px solid #1c85ea !important;
    }

.btRegistro {
    max-width: 460px;
    width: 100%;
    height: 66px;
    outline: none !important;
    text-decoration: none !important;
    border: none !important;
    background-color: #2A87E5;
    text-align: center;
    padding: 0 0 0 0;
    border: none !important;
    border-radius: 8px;
    font-family: 'Segoe UI';
    color: #FFF;
    font-weight: lighter;
    margin-top: 15px;
    font-size: 16px;
}

    .btRegistro:hover {
        opacity: 0.7;
    }

.TextoPasso {
    font-family: 'Segoe UI' !important;
    font-size: 14px;
    color: #000 !important;
    font-weight: lighter;
}

.FooterTitulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px !important;
    font-weight: bold !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.FooterTexto {
    font-family: 'Segoe UI' !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #000;
}

.corPassoCir {
    color: #b3b3b3;
}

.corPassoIco {
    color: #FFF !important;
}

.FooterDiv {
    margin-top: 30px;
}

.corPassoHover {
    color: #FF2930 !important;
}

.Voltar {
    color: #FF2930 !important;
    font-size: 30px !important;
    margin: 7px 0 0 7px;
}


.CaixaTipo {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    background-color: rgba(255,255,255,1);
    padding: 0px;
    text-align: center;
}

.divDelivery {
    margin: 0 auto 0 auto;
    left: 0;
    max-width: 120px;
    width: 100%;
}

.divPickup {
    margin: 0 auto 0 auto;
    left: 0;
    max-width: 120px;
    width: 100%;
}

.img-Pickup {
    background-image: url('/Content/img/pickup .png');
     background-repeat: no-repeat;
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.img-Delivery {
    background-image: url('/Content/img/delivery.png');
    background-repeat: no-repeat;
    background-size: 140px 120px;
    width: 140px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.TextoDelyvery{
    margin-top: 4% !important;
    background-color: #FF2930;
    width: 50%;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    color: #FFF;
    font-weight:lighter !important;
    font-family:'Segoe UI';
}
.TextoPickup{
    margin-top: 4% !important;
    background-color: #2A87E5;
    width: 50%;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    color: #FFF;
    font-weight:lighter !important;
    font-family:'Segoe UI';
}
.divPickupCor {
     width: 50%;
    height: 100%;
    background-color: rgba(233,233,243,1);
    float: left;
    padding-top: 12%;
}

.divDeliveryCor {
    width: 50%;
    height: 100%;
    background-color: #FFF;
    float: right;
    padding-top: 12%;
}

@media all and (max-width:500px) {

    .CaixaTipo {
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        margin: 0 auto 0 auto;
        background-color: rgba(255,255,255,1);
        padding: 0px;
        text-align: center;
    }

    .divDelivery {
        margin: 0 auto 0 auto;
        left: 0;
        max-width: 120px;
        width: 100%;
    }

    .divPickup {
        margin: 0 auto 0 auto;
        left: 0;
        max-width: 120px;
        width: 100%;
    }

    .img-Pickup {
        background-image: url('/Content/img/pickup .png');
        background-repeat: no-repeat;
        background-size: 128px 120px;
        width: 128px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
    }

    .img-Delivery {
        background-image: url('/Content/img/delivery.png');
        background-repeat: no-repeat;
        background-size: 128px 120px;
        width: 128px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
    }

    .TextoDelyvery {
        margin-top: 10% !important;
        background-color: #FF2930;
        width: 62%;
        margin: auto;
        border-radius: 8px;
        padding: 20px;
        color: #FFF;
        font-weight: lighter !important;
        font-family: 'Segoe UI';
        font-size: 16px;
    }

    .TextoPickup {
        margin-top: 10% !important;
        background-color: #2A87E5;
        width: 62%;
        margin: auto;
        border-radius: 8px;
        padding: 20px;
        color: #FFF;
        font-weight: lighter !important;
        font-family: 'Segoe UI';
        font-size: 16px;
    }

    .divPickupCor {
        width: 100%;
        height: 50%;
        background-color: rgba(233,233,243,1);
        padding-top: 5%;
    }

    .divDeliveryCor {
        width: 100%;
        height: 50%;
        background-color: #FFF;
        padding-top: 5%;
    }

    .CaixaResultado {
        max-width: 300px;
        width: 100%;
        height: 280px;
        left: 0;
        right: 0;
        background-color: transparent;
        text-align: center;
    }

    .divUf {
        max-width: 300px;
        width: 100%;
        height: auto;
        border-radius: 0px !important;
        margin: 0 auto 0 auto !important;
        left: 0;
        right: 0;
        height: auto;
        background-color: transparent !important;
        padding-top: 0px;
    }

    .inputUf {
        max-width: 270px;
        height: 55px;
        margin: 0 auto 0 auto !important;
        left: 0;
        right: 0;
        text-align: center;
        font-family: 'Segoe UI' !important;
        background-color: transparent;
        font-size: 16px;
        border-bottom: 1px solid #FFF !important;
    }

    .divCidade {
        max-width: 300px;
        width: 100%;
        height: auto;
        border-radius: 0px !important;
        margin: 0 auto 0 auto !important;
        left: 0;
        right: 0;
        height: auto;
        background-color: transparent !important;
        padding-top: 7px;
    }

    .inputCidade {
        max-width: 270px;
        height: 55px;
        margin: 0 auto 0 auto !important;
        left: 0;
        right: 0;
        text-align: center;
        font-family: 'Segoe UI' !important;
        background-color: transparent;
        font-size: 16px;
        border-bottom: 1px solid #FFF !important;
    }

    .divRua {
        max-width: 300px;
        width: 100%;
        height: auto;
        border-radius: 0px !important;
        margin: 0 auto 0 auto !important;
        left: 0;
        right: 0;
        height: auto;
        background-color: transparent !important;
        padding-top: 7px;
    }

    .inputRua {
        max-width: 270px;
        height: 55px;
        margin: 0 auto 0 auto !important;
        left: 0;
        right: 0;
        text-align: center;
        font-family: 'Segoe UI' !important;
        background-color: transparent;
        font-size: 16px;
        border-bottom: 1px solid #FFF !important;
    }

    .divNum {
        max-width: 300px;
        width: 100%;
        height: auto;
        border-radius: 0px !important;
        margin: 0 auto 0 auto !important;
        left: 0;
        right: 0;
        height: auto;
        background-color: transparent !important;
        padding-top: 7px;
    }

    .inputNum {
        max-width: 270px;
        height: 55px;
        margin: 0 auto 0 auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center;
        font-family: 'Segoe UI' !important;
        background-color: transparent;
        font-size: 16px;
        border-bottom: 1px solid #FFF !important;
        color: #FFF !important;
    }


        .inputNum::-webkit-input-placeholder {
            color: #eae243 !important;
            opacity: 1;
        }

        .inputNum :-moz-placeholder {
            color: #FFF !important;
            opacity: 1.0;
        }

        .inputNum:-ms-input-placeholder {
            color: #FFF !important;
            opacity: 1.0;
        }


    .divComplemento {
        max-width: 300px;
        width: 100%;
        height: auto;
        border-radius: 0px !important;
        margin: 0 auto 0 auto !important;
        left: 0;
        right: 0;
        height: auto;
        background-color: transparent !important;
        padding-top: 7px;
    }

    .inputComplemento {
        max-width: 270px;
        height: 55px;
        margin: 0 auto 0 auto !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center;
        font-family: 'Segoe UI' !important;
        background-color: transparent;
        font-size: 16px;
        border-bottom: 1px solid #FFF !important;
        color: #FFF !important;
    }

        .inputComplemento::-webkit-input-placeholder {
            color: #eae243 !important;
            opacity: 1;
        }

        .inputComplemento :-moz-placeholder {
            color: #FFF !important;
            opacity: 1.0;
        }

        .inputComplemento:-ms-input-placeholder {
            color: #FFF !important;
            opacity: 1.0;
        }


    .btVoltar {
        display: none;
        max-width: 100px;
        width: 100%;
        height: 55px;
        outline: none !important;
        text-decoration: none !important;
        border: none !important;
        background-color: #d1a429;
        text-align: center;
        padding: 0 0 0 0;
        border: none !important;
        border-radius: 8px;
        color: #FFF;
        left: 0;
        margin: 45px 0px 0px 0px;
        font-size: 16px;
        font-family: 'Segoe UI' !important;
    }

        .btVoltar:hover {
            opacity: 0.7;
        }

    .btContinuar {
        max-width: 300px;
        width: 100%;
        height: 55px;
        outline: none !important;
        text-decoration: none !important;
        border: none !important;
        background-color: #2A87E5;
        text-align: center;
        padding: 0 0 0 0;
        border: none !important;
        border-radius: 8px;
        color: #FFF;
        margin: 35px auto 0px 0px !important;
        left: 0;
        right: 0;
        font-size: 16px;
        font-family: 'Segoe UI' !important;
    }

        .btContinuar:hover {
            opacity: 0.7;
        }

    .LogoCentral {
        height: 130px;
        max-width: 92px;
        background-image: url(/Content/img/logocentral.png) !important;
        background-size: 92px 130px;
        background-repeat: no-repeat;
        left: 0;
        right: 0;
        margin: 30px auto 30px auto;
        background-color: transparent;
        z-index: 99999;
    }


    .LogoCentral1 {
        height: 80px;
        max-width: 60px;
        background-image: url(/Content/img/logocentral.png) !important;
        background-size: 60px 80px;
        background-repeat: no-repeat;
        left: 0;
        right: 0;
        margin: 10px auto 0px auto;
        background-color: transparent;
        z-index: 99999;
    }

    .Voltar {
        color: #FFF !important;
        font-size: 30px !important;
        margin: 7px 0 0 7px;
    }



    .check {
        font-size: 18px;
        color: #2A87E5;
        float: right !important;
        width: 18px;
        height: 18px;
        margin-top: -8%;
    }

    .CaixaEmail {
        max-width: 340px;
        width: 100%;
        height: 195px;
        left: 0;
        right: 0;
        margin: 2% auto 0 auto;
        background-color: transparent;
        padding-top: 2%;
        text-align: center;
    }

    .divEmail {
        max-width: 300px;
        width: 100%;
        outline: none !important;
        text-decoration: none !important;
        border: none !important;
        left: 0;
        right: 0;
        height: 55px;
        margin: 0 auto 0 auto;
        background-color: transparent !important;
        border-radius: 8px;
        padding-top: 7px;
        color: #000 !important;
    }

        .divEmail:hover {
            border: none !important;
            box-shadow: none !important;
        }

    .divEmailShadow {
        border: none !important;
        box-shadow: none !important;
    }

    .Email {
        max-width: 290px;
        width: 100%;
        outline: none !important;
        text-decoration: none !important;
        border: none !important;
        border-bottom: 2px solid #FFF !important;
        border-radius: 0% 0% !important;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 16px;
        font-family: 'Segoe UI';
        color: #FFF !important;
        text-align: center;
        box-shadow: none !important;
        background-color: transparent !important;
        font-weight: lighter;
    }

    .btEmail {
        max-width: 300px;
        width: 100%;
        height: 55px;
        outline: none !important;
        text-decoration: none !important;
        border: none !important;
        background-color: #2A87E5;
        text-align: center;
        padding: 0 0 5px 0;
        border: none !important;
        border-radius: 0 0;
        font-family: 'Segoe UI';
        color: #FFF;
        left: 0;
        right: 0;
        font-weight: lighter;
        margin: 15px auto 0 auto;
        font-size: 16px;
        border-radius: 187px 187px;
    }

        .btEmail:hover {
            opacity: 0.7;
        }

    .CaixaCep {
        max-width: 340px;
        width: 100%;
        height: 190px;
        left: 0;
        right: 0;
        margin: 2% auto 0 auto;
        background-color: transparent;
        padding-top: 2%;
        text-align: center;
    }


    .divCep {
        max-width: 300px;
        width: 100%;
        outline: none !important;
        text-decoration: none !important;
        border: none !important;
        left: 0;
        right: 0;
        height: 55px;
        margin: 0 auto 0 auto;
        background-color: transparent !important;
        border-radius: 187px 187px;
        padding-top: 7px;
        color: #000 !important;
    }

        .divCep:hover {
            border: none !important;
            box-shadow: none !important;
        }

    .divCepShadow {
        box-shadow: none !important;
    }

    .Cep {
        max-width: 290px;
        width: 100%;
        outline: none !important;
        text-decoration: none !important;
        border: none !important;
        border-bottom: 2px solid #FFF !important;
        border-radius: 0% 0% !important;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 16px;
        font-family: 'Segoe UI';
        color: #FFF !important;
        text-align: center;
        box-shadow: none !important;
        background-color: transparent !important;
        font-weight: lighter;
    }

    .btcep {
        max-width: 300px;
        width: 100%;
        height: 55px;
        outline: none !important;
        text-decoration: none !important;
        border: none !important;
        background-color: #2A87E5;
        text-align: center;
        padding: 0 0 5px 0;
        border: none !important;
        border-radius: 0 0;
        font-family: 'Segoe UI';
        color: #FFF;
        left: 0;
        right: 0;
        font-weight: lighter;
        margin: 15px auto 0 auto;
        font-size: 16px;
        border-radius: 187px 187px;
    }

        .btcep:hover {
            opacity: 0.7;
        }


    .NaoSeiCep {
        text-decoration: none !important;
        outline: none !important;
        border: none !important;
        margin-top: 20px;
        left: 35%;
        font-size: 12px;
        color: #FFF;
        cursor: default;
        position: absolute;
        font-family: 'Segoe UI';
        font-weight: 100;
    }


        .NaoSeiCep:hover {
            color: #eae243;
            cursor: pointer;
        }

    .Frase1 {
        color: #1c85ea;
        font-family: 'Segoe UI';
        width: 100%;
        height: auto;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-weight: 400;
        margin-bottom: 45px;
        margin-top: 45px;
    }

    .btRegistro {
        max-width: 400px;
        width: 100%;
        height: 66px;
        outline: none !important;
        text-decoration: none !important;
        border: none !important;
        background-color: #2A87E5;
        text-align: center;
        border: none !important;
        border-radius: 8px;
        font-family: 'Segoe UI';
        color: #FFF;
        font-weight: lighter;
        left: 0;
        margin: 25px auto 0 auto;
        margin-top: 25px;
        font-size: 16px;
    }

        .btRegistro:hover {
            opacity: 0.7;
        }

    .inputRegistro {
        max-width: 400px;
        height: auto;
        width: 100%;
        outline: none !important;
        text-decoration: none !important;
        border-bottom: 1px solid rgb(203,203,203) !important;
        margin-right: auto !important;
        margin-left: auto !important;
        left: 0;
        right: 0;
        font-size: 18px;
        font-weight: lighter;
        color: #000 !important;
        text-align: left;
        box-shadow: !important;
        float: left !important;
        font-weight: lighter !important;
        border-radius: 0;
    }

        .inputRegistro::-webkit-input-placeholder {
            color: rgb(209, 209, 209) !important;
            opacity: 1;
        }

        .inputRegistro :-moz-placeholder {
            color: rgb(209, 209, 209) !important;
            opacity: 1.0;
        }

        .inputRegistro:-ms-input-placeholder {
            color: rgb(209, 209, 209) !important;
            opacity: 1.0;
        }


    .divRegistro {
        max-width: 380px;
        width: 100%;
        outline: none !important;
        text-decoration: none !important;
        border: none !important;
        left: 0;
        right: 0;
        height: 66px;
        margin: 0 auto 15px auto;
        background-color: transparent !important;
        color: #000 !important;
        text-align: left !important;
        font-weight: lighter !important;
        padding: 0 !important;
    }

        .divRegistro:hover {
            box-shadow: none !important;
            border: none !important;
        }


    ::-webkit-input-placeholder {
        color: #FFF !important;
    }

    :-moz-placeholder {
        color: #FFF !important;
    }


    :-ms-input-placeholder {
        color: #FFF !important;
    }

    .formerize-placeholder {
        color: #FFF !important;
    }

    .btPlay {
    width: 100px;
    height: 8%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top: -46%;
    font-size: 8em !important;
    position: relative;
    color: #fff;
    cursor: pointer;
    z-index: 999999;
}
        .btPlay:hover {
        color: #FCEE21;
    }



}